Напишите программу, которая принимает на стандартный вход список игр футбольных команд с результатом матча и выводит на стандартный вывод сводную таблицу результатов всех матчей.

За победу команде начисляется 3 очка, за поражение — 0, за ничью — 1.

Формат ввода следующий:
В первой строке указано целое число nn — количество завершенных игр.
После этого идет nn строк, в которых записаны результаты игры в следующем формате:
Первая_команда;Забито_первой_командой;Вторая_команда;Забито_второй_командой

Вывод программы необходимо оформить следующим образом:
Команда:Всего_игр Побед Ничьих Поражений Всего_очков

Конкретный пример ввода-вывода приведён ниже.

Порядок вывода команд произвольный.

In [ ]:
n=int(input())
b=[input().split(';') for i in range(n)]
c=0
e=0
for i in b:
    for j in i:
        if c ==0:
            c=j
        else:
            e=j
            d={c:e}
            c=0
            e=0

In [28]:
d

{'Локомотив': '15'}

In [20]:
e

0

In [7]:
d=input().split(';')
c=0
e=0
for i in d:
    if c ==0:
        c=i
    else:
        e=i
        break

Спартак;9;Зенит;10

'Спартак'

In [40]:
n=int(input())
c=0
e=0
g=0
d={}
while c!=n:
    b=input().split(';')
    for i in b:
        if e == 0:
            e=i
        else:
            g=i
            d[e]=int(g)
            e=0
            g=0
    c+=1

1
Спартак;9;Зенит;10

In [48]:
min(d.values())

9

In [49]:
d

{'Спартак': 9, 'Зенит': 10}

In [51]:
min(9,10)

9

In [61]:
for keys,values in d.items():
    print(keys,values)

Спартак 9
Зенит 10