# Списки

In [4]:
students = ['ivan', 'Masha', 'Sasha']
for student in students:
    print('Hello,' + student + '!')

Hello,ivan!
Hello,Masha!
Hello,Sasha!

# Доступ к элементам списка

In [5]:
students = ['ivan', 'Masha', 'Sasha']

Длина списка:

In [7]:
len(students)

3

In [9]:
students[0]

'ivan'

In [10]:
students[1]

'Masha'

In [11]:
students[2]

'Sasha'

In [12]:
students[-1]

'Sasha'

In [13]:
students[-2]

'Masha'

In [14]:
students[-3]

'ivan'

In [15]:
students[:2]

['ivan', 'Masha']

In [16]:
students[::-1]

['Sasha', 'Masha', 'ivan']

# Операции со списками

In [17]:
students = ['ivan', 'Masha', 'Sasha']
teachers = ['Oleg', 'Alex']
students + teachers

['ivan', 'Masha', 'Sasha', 'Oleg', 'Alex']

In [18]:
[0,1] * 4

[0, 1, 0, 1, 0, 1, 0, 1]

# Изменение списков

В отличии от изученных типов данных (int, float, str) списки (list) являются изменяемыми.

Можно изменить конкртеный элемент списка:

In [20]:
students = ['ivan', 'Masha', 'Sasha']
students[1] = 'Oleg'
print(students)

['ivan', 'Oleg', 'Sasha']

# Добавление элементов в список

In [28]:
students = ['ivan', 'Masha', 'Sasha']
students.append('Olga')
print(students)

['ivan', 'Masha', 'Sasha', 'Olga']

In [29]:
students += ['Olga']
print(students)

['ivan', 'Masha', 'Sasha', 'Olga', 'Olga']

In [30]:
students += ['Boris', 'Sergey']
print(students)

['ivan', 'Masha', 'Sasha', 'Olga', 'Olga', 'Boris', 'Sergey']

Пустой список

In [26]:
students = []

# Вставка элементов в список

In [33]:
students = ['ivan', 'Masha', 'Sasha']
students.insert(1, 'Olga')
print(students)

['ivan', 'Olga', 'Masha', 'Sasha']

In [34]:
students = ['Ivan', 'Masha', 'Sasha']
students += ['Olga']
students += 'Olga'

In [35]:
print(students)

['Ivan', 'Masha', 'Sasha', 'Olga', 'O', 'l', 'g', 'a']

# Удаление элемента из списка

In [44]:
students = ['ivan', 'Masha', 'Sasha']
students.remove('Sasha')
print(students)

['ivan', 'Masha']

In [45]:
del students[0]
print(students)

['Masha']

# Поиск элемента в списке

In [46]:
students = ['ivan', 'Masha', 'Sasha']
if 'ivan' in students:
    print('ivan is here')
if 'Ann' not in students:
    print('Ann is out')

ivan is here
Ann is out

In [47]:
ind = students.index('Sasha')

In [48]:
ind

2

In [49]:
ind = students.index('Ann')

ValueError: 'Ann' is not in list

# Сортировка списка

Не изменяя порядка изначального списка

In [53]:
students = ['Sasha', 'Ivan', 'Masha']
ordered_students = sorted(students)
print(ordered_students)

['Ivan', 'Masha', 'Sasha']

Изменяем сам список

In [67]:
students.sort()

In [68]:
print(students)

['Ivan', 'Masha', 'Sasha']

In [69]:
min(students)

'Ivan'

In [70]:
max(students)

'Sasha'

# Список в обратном порядке

In [71]:
students = ['Sasha', 'Ivan', 'Masha']
students.reverse()

In [76]:
students

['Masha', 'Ivan', 'Sasha']

In [75]:
reversed(students)

In [74]:
students[::-1]

['Sasha', 'Ivan', 'Masha']

# Присвоение списков

In [78]:
a = [1, 'A', 2]
b = a
a[0] = 42

In [79]:
a

[42, 'A', 2]

In [80]:
b

[42, 'A', 2]

In [81]:
b[2] = 30

In [82]:
b

[42, 'A', 30]

In [83]:
a

[42, 'A', 30]

# Генерация списков

In [85]:
a = [0] * 5

In [86]:
a

[0, 0, 0, 0, 0]

In [87]:
a = [0 for i in range(5)]

In [88]:
a

[0, 0, 0, 0, 0]

In [89]:
a = [i*i for i in range(5)]

In [90]:
a

[0, 1, 4, 9, 16]

In [94]:
a = [int(i) for i in input().split()]

11111

In [95]:
a

[11111]

Напишите программу, на вход которой подается одна строка с целыми числами. Программа должна вывести сумму этих чисел.

Используйте метод split строки

In [4]:
s = 0
a = [int(i) for i in input().split()]
for i in a:
    s += i
print(s)

4 -1 9 3
15

Напишите программу, на вход которой подаётся список чисел одной строкой. Программа должна для каждого элемента этого списка вывести сумму двух его соседей. Для элементов списка, являющихся крайними, одним из соседей считается элемент, находящий на противоположном конце этого списка. Например, если на вход подаётся список "1 3 5 6 10", то на выход ожидается список "13 6 9 15 7" (без кавычек).

Если на вход пришло только одно число, надо вывести его же.

Вывод должен содержать одну строку с числами нового списка, разделёнными пробелом.

In [3]:
a = [int(i) for i in input().split()]
i = 0
j = len(a)
for c in a:
    if len(a) == 1:
        print(a[0])
    elif 1 < j:
        b = (a[i - 1] + a[i + 1])
        i+=1
        j-=1
        print(b, end=' ')
    else:
        a = a[::-1]
        i = 0
        c = (a[i -1] + a[i+1])
        print(c, end=' ')

1 3 5 6 10
13 6 9 15 7

Напишите программу, которая принимает на вход список чисел в одной строке и выводит на экран в одну строку значения, которые повторяются в нём более одного раза.

Для решения задачи может пригодиться метод sort списка.

Выводимые числа не должны повторяться, порядок их вывода может быть произвольным.

In [89]:
a = sorted([int(i) for i in input().split()])
g = []
for c in a:
    if a.count(c) > 1:
        g.append(c)
for j in g:
    if g.count(j) > 1:
        g.remove(j)
for s in g:
    if g.count(s) > 1:
        g.remove(s)
    print(s,end=' ')

-1 2 2 0 9 6 2 4 2 2
2

# Двумерные списки

In [1]:
a = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [2]:
a[1]

[4, 5, 6]

In [3]:
a[1][1]

5

# Генерация двумерных списков

In [6]:
n = 3
a = [[0] * n] * n
a[0][0] = 5

In [7]:
a

[[5, 0, 0], [5, 0, 0], [5, 0, 0]]

In [8]:
a =[[0] * n for i in range(n)]

In [9]:
a

[[0, 0, 0], [0, 0, 0], [0, 0, 0]]

In [10]:
a = [[0 for j in range(n)] for i in range(n)]

In [11]:
a

[[0, 0, 0], [0, 0, 0], [0, 0, 0]]

In [12]:
[ [0, 0, 0, 0] ] * 3

[[0, 0, 0, 0], [0, 0, 0, 0], [0, 0, 0, 0]]

In [13]:
[0, 0, 0, 0] * 3

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]